TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OWNER_EMAIL=mentorbymarisa@gmail.com
FROM_EMAIL=your_verified_sendgrid_email
BUSINESS_NAME=Marisa Tuchinsky Dating Mentor
PORT=3000
